################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoffeeReno/CoffeeReno/Logs/Logs_20190615.txt
